<html>
    <head>
        <title>axios로 보내기</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    
    <script>
        function sendGet(){
           var form = document.getElementById("form_info");
          
            axios({
                method: "get",
                url: "/home2",
                params:{name: form.name.value,
                        gender: form.gender.value,
                        year: form.birthyear.value,
                        month: form.birthMonth.value,
                        date: form.birthDate.value}
            }).then(function(res){
                alert(res.data);
            });
        }
    </script>
</head>
<body><form id="form_info">
            이름 <input type="text" name="name"> <br>
            ID <input type="text" name="id" placeholder="id"> <br>
            PW <input type="password" name="pw" placeholder="pw">
            
            <fieldset>
                <legend>성별</legend>
                <input type="radio" name="gender" value="남자" id="men"> <label for="men">남자</label>
                <input type="radio" name="gender" value="여자" id="women" > <label for="women">여자</label>
            </fieldset>

            <fieldset>
                <legend>생년월일</legend>
                <select name="birthyear">
                    <% for( var i =1990; i<=2022; i++) {%>
                    <option value="<%=i%>"><%=i%>년</option>
                    <% } %>
                </select>
                <select name="birthMonth">
                    <% for( var i =1; i<=12; i++) {%>
                    <option value="<%=i%>"><%=i%>월</option>
                    <% } %>
                </select> 
                <select name="birthDate">
                    <% for( var i =1; i<=31; i++) {%>
                    <option value="<%=i%>"><%=i%>일</option>
                    <% } %>
                </select>

            </fieldset>
            <br>
            <button type="button" onclick="sendGet();" >회원가입</button>
        </form>

       
    </body>
</html>